DATABASE_URL_ONLINE=

TOKEN_EXPIRY_TIME=6000
TOKEN_KEY=123456789987654321

EVENTSTREAM_URL=http://44.208.234.65:9999/events/main
JSON_RPC_API_NODE_URL=http://44.208.234.65:7777/rpc

TTL=1500000
DEPLOYSPOOLSIZE=30
BLOCKSPOOLSIZE=10

LISTENERREDISEVENTSREPLAYQUEUE=curveRedisEventsReplay
LISTENERREDISQUEUE=curveRedisQueue

JSON_RPC_TIMEOUT=30000
JSON_RPC_TIMEOUT_DELAY=60000
RPC_FAILED_RETRY_ATTEMPTS=10

EMAIL_TO=
EMAIL_FROM=
SEND_GRID_API_KEY=

LASTBLOCK=lastBlock
TIMEATSHUTDOWN=timeAtShutDown

CLIENTID=
MECHANISM=plain
TOPIC=
SERVER=
SASL_USERNAME=
SASL_PASSWORD=
